<div class="container-fluid">
  <form #f="ngForm">
    <div class="row">
      <div class="panel">
        <div class="panel-heading"></div>
        <div class="panel-body panel-flex-table">
          <table class="flex-table table table-striped table-hover flex-widths flex-table-aligned">
            <thead>
            <tr>
              <th (click)="sortByDriverName()">Driver
                <span [ngClass]="{hidden:drivername_up_arrow_hidden}">&#9650;</span>
                <span [ngClass]="{hidden:drivername_down_arrow_hidden}">&#9660;</span></th>
              <th (click)="sortByFirstName()">First Name
                <span [ngClass]="{hidden:firstname_up_arrow_hidden}">&#9650;</span>
                <span [ngClass]="{hidden:firstname_down_arrow_hidden}">&#9660;</span></th>
              <th (click)="sortByLastName()">Last Name
                <span [ngClass]="{hidden:lastname_up_arrow_hidden}">&#9650;</span>
                <span [ngClass]="{hidden:lastname_down_arrow_hidden}">&#9660;</span></th>
              <th (click)="sortByAbility()">Driving Ability
                <span [ngClass]="{hidden:ability_up_arrow_hidden}">&#9650;</span>
                <span [ngClass]="{hidden:ability_down_arrow_hidden}">&#9660;</span></th>
              <th (click)="sortByEmail()">Email
                <span [ngClass]="{hidden:email_up_arrow_hidden}">&#9650;</span>
                <span [ngClass]="{hidden:email_down_arrow_hidden}">&#9660;</span></th>
              <th (click)="sortByAddress()">Address
                <span [ngClass]="{hidden:address_up_arrow_hidden}">&#9650;</span>
                <span [ngClass]="{hidden:address_down_arrow_hidden}">&#9660;</span></th>
              <th (click)="sortByCity()">City
                <span [ngClass]="{hidden:city_up_arrow_hidden}">&#9650;</span>
                <span [ngClass]="{hidden:city_down_arrow_hidden}">&#9660;</span></th>
              <th (click)="sortByState()">State
                <span [ngClass]="{hidden:state_up_arrow_hidden}">&#9650;</span>
                <span [ngClass]="{hidden:state_down_arrow_hidden}">&#9660;</span></th>
              <th (click)="sortByZip()">Zip
                <span [ngClass]="{hidden:zip_up_arrow_hidden}">&#9650;</span>
                <span [ngClass]="{hidden:zip_down_arrow_hidden}">&#9660;</span></th>
              <th (click)="sortByPhone()">Phone
                <span [ngClass]="{hidden:phone_up_arrow_hidden}">&#9650;</span>
                <span [ngClass]="{hidden:phone_down_arrow_hidden}">&#9660;</span></th>
            </tr>
            </thead>
            <tbody class="scroll">
            <tr *ngFor="let driver of drivers; let i=index">
              <td [ngClass]="{selected_background:drivers[i].selected}"
                  (click)="toggle_row_selection(i)">
                {{driver.drivername}}
              </td>
              <td [ngClass]="{selected_background:drivers[i].selected}"
                  (click)="toggle_row_selection(i)">
                {{driver.firstname}}
              </td>
              <td [ngClass]="{selected_background:drivers[i].selected}"
                  (click)="toggle_row_selection(i)">
                {{driver.lastname}}
              </td>
              <td [ngClass]="{selected_background:drivers[i].selected}"
                  (click)="toggle_row_selection(i)">
                {{driver.ability}}
              </td>
              <td [ngClass]="{selected_background:drivers[i].selected}"
                  (click)="toggle_row_selection(i)">
                {{driver.email}}
              </td>
              <td [ngClass]="{selected_background:drivers[i].selected}"
                  (click)="toggle_row_selection(i)">
                {{driver.address}}
              </td>
              <td [ngClass]="{selected_background:drivers[i].selected}"
                  (click)="toggle_row_selection(i)">
                {{driver.city}}
              </td>
              <td [ngClass]="{selected_background:drivers[i].selected}"
                  (click)="toggle_row_selection(i)">
                {{driver.state}}
              </td>
              <td [ngClass]="{selected_background:drivers[i].selected}"
                  (click)="toggle_row_selection(i)">
                {{driver.zip}}
              </td>
              <td [ngClass]="{selected_background:drivers[i].selected}"
                  (click)="toggle_row_selection(i)">
                {{driver.phone}}
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </form>
</div>
<!--
<div id="my-alert" [ngClass]="{hidden:this.authService.last_row_selected > -1}">
  <p>You must first select a row from driver list</p>
  <p><button class="btn" (click)="this.authService.last_row_selected = 0">Ok</button></p>
</div>
-->
<div class="footer navbar-fixed-bottom">
  <footer>
    <p class="row text-center">&copy; Tony Ferlazzo, 2016</p>
  </footer>
</div>

