<div class="container-fluid">
  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      <p>This CRUD demonstration was written with Angular2 beta RC 1.0 with TypeScript 1.8.</p>
      <p>Click on a Driver List heading to sort the column.</p>
      <p>This MVP is brought to you by none other than
      Tony Ferlazzo, Web Developer Extraordinaire, June 2016</p>
    </div>
  </div>
</div>
<div class="footer navbar-fixed-bottom">
  <footer>
    <p class="row text-center">&copy; Tony Ferlazzo, 2016</p>
  </footer>
</div>

