<div class="container-fluid">
  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      <p>This CRUD demonstration was written using Angular2 modules:
      <ul>
      <li>"@angular/common": "2.0.0-rc.4"</li>
      <li>"@angular/compiler": "2.0.0-rc.4"</li>
      <li>"@angular/core": "2.0.0-rc.4"</li>
      <li>"@angular/forms": "^0.2.0"</li>
      <li>"@angular/http": "2.0.0-rc.4"</li>
      <li>"@angular/platform-browser": "2.0.0-rc.4"</li>
      <li>"@angular/platform-browser-dynamic": "2.0.0-rc.4"</li>
      <li>"@angular/router": "^3.0.0-beta.2"</li>
      <li>"es6-shim": "0.35.1"</li>
      <li>"reflect-metadata": "0.1.3"</li>
      <li>"rxjs": "5.0.0-beta.6"</li>
      <li>"systemjs": "0.19.26"</li>
      <li>"zone.js": "0.6.12"</li>
      <li>TypeScript 1.8.</li>
      </ul>
      <p>Click on a Driver List heading to sort the column.</p>

      <p>This MVP is brought to you by none other than Tony Ferlazzo, Web Developer Extraordinaire, June 2016</p>

    </div>
  </div>
</div>
<div class="footer navbar-fixed-bottom">
  <footer>
    <p class="row text-center">&copy; Tony Ferlazzo, 2016</p>
  </footer>
</div>

