<h1>Angular 2 Demo - {{subcomponent_name}}</h1>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">

      <!--

				when the nav bar item is clicked change to item background highlight

			-->
      <ul class="nav navbar-nav">
        <!-- class='active' (defined and used by Bootstrap) is on the <li> if
				the 'active_menu' variable equals 'List -->
        <li [class.active]="driverService.active_menu=='List'">
          <a [routerLink]="['/list']"
             (click)='change_active_menu("List")'><span class="fa fa-list-ul"></span>
            <span class="menu_name">List</span></a>
        </li>
        <li [class.active]="driverService.active_menu=='Add'">
          <a [routerLink]="['/add']"
             (click)='change_active_menu("Add")'><span class="fa fa-plus"></span>
            <span class="menu_name">Add</span></a>
        </li>
        <li [class.active]="driverService.active_menu=='Modify'">
          <a [routerLink]="['/modify']"
             (click)='change_active_menu("Modify")'><span class="fa fa-exchange"></span>
            <span class="menu_name">Modify</span></a>
        </li>
        <li [class.active]="driverService.active_menu=='Delete'">
          <a [routerLink]="['/delete']"
             (click)='change_active_menu("Delete")'><span class="fa fa-minus"></span>
            <span class="menu_name">Delete</span></a>
        </li>
        <li [class.active]="driverService.active_menu=='About'">
          <a [routerLink]="['/about']"
             (click)='change_active_menu("About")'><span class="fa fa-info"></span>
            <span class="menu_name">About</span></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>


