h1 {
	height: 5rem;
	font-size: 4rem;
	background-color: #6c7a95;
	margin: 0;
	font-family: "open sans", sans-serif;
	color: #fff;
	text-align: center;
}
#myNavbar {
	display: flex; /* makes this parent a flex container and the children flex items */
	align-items: center;
	justify-content:space-around;
	align-content:center;
	flex-wrap:nowrap;
	background-color: #FE8300;
	padding-top: 0.3rem;
}
/* each router link has an attribute _ngcontent-tpx-1 */
#myNavbar .router_item {
	width: 7rem;
	padding: 0.3rem 1rem;
	text-align: center;
}
#myNavbar .router_item a {
	text-align: center;
	text-decoration: none;
}
#myNavbar .router_item.active,
#myNavbar .router_item a:hover,
#myNavbar .router_item a:focus {
  text-align: center;
  text-decoration: none;
  font-weight: bold;
}
#myNavbar .router_item.active .menu-icon,
#myNavbar .router_item a:hover .menu_icon,
#myNavbar .router_item a:focus .menu_icon{
  border-color: #fff;
  color: #fff;
}
.menu_icon {
	font-size: 2rem;
	border-radius: 50%;
	padding: 0.6em;
	width: 2.5em;
	color: #eee;
	border: 3px solid #eee;
}
.menu_icon:focus {
	outline-width: 0;
}
.menu_icon.fa.fa-list-ul {
	background-color: #24286a;
}
.menu_icon.fa.fa-plus {
	background-color: #54ce47;
}
.menu_icon.fa.fa-exchange {
	background-color: #A4286A;
}
.menu_icon.fa.fa-minus {
	background-color: #803286;
}
.menu_icon.fa.fa-info{
	background-color: #d93f96;
}
.menu_label {
	margin: 0.1rem 0 0 0;
	position: relative;
	text-align: center;
	color: #fff;
	font-size: 1.4rem;
}
