<div class="component-top container-fluid">
  <div class="delete_alert row">
    <p>
        <span *ngIf="message.error" class="col-md-offset-4 alert alert-danger">
          {{message.error}}</span>

        <span *ngIf="message.success" class="col-md-offset-4 alert alert-success">
          {{message.success}}</span>

        <span *ngIf="message.success" class="col-md-offset-0">
          <button class="btn" (click)="clearTimeout()">Undo</button>
        </span>
    </p>
  </div>
</div>
<div class="footer navbar-fixed-bottom">
  <footer>
    <p class="row text-center">&copy; Tony Ferlazzo, 2016</p>
  </footer>
</div>

